@media only screen and (min-width:1200px) and (max-width: 1600px) {
    .circleBG{
        background-size: 80%;
    }
}
@media only screen and (max-width: 991px) {
    .row {
        margin: 0!important;
    }
}
@media only screen and (max-width: 950px) {
    .redIMG {
        /* IE10+ */
        background-image: -ms-linear-gradient(top, #CA1318 50%, #AC0F13 50%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #CA1318 50%, #AC0F13 50%);

        /* Opera */
        background-image: -o-linear-gradient(top, #CA1318 50%, #AC0F13 50%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50, #CA1318), color-stop(50, #AC0F13));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #CA1318 50%, #AC0F13 50%);

        /* W3C Markup */
        background-image: linear-gradient(to bottom, #CA1318 50%, #AC0F13 50%);
    }
    .circleBG {
        background: #CA1318;
    }
     .txt-box  {
        width: 100%;
    }
    .footer-social-icons {
        width: 100%;
        padding: 0 0 0 15px;
    }
    .main-content {
        padding: 0;
    }
    .greyBg {
        padding: 0 15px;
    }
    .book-box {
        position: relative;
        z-index: 2;
        bottom: 0;
        height: 260px;
        width: 400px;
        margin: 0 auto;
    }
    .MSecrureBook {
        width: 150px;
    }
    .book1 {
        top: -8px;
    }
    .book3 {
        top: -8px;
    }
    .red-tox-box {
        height: 660px;
    }
    .sys-requirement-img {
        width: 100%;
        margin: 65px;
    }
    .icons-box img {
        width: 100%;
    }
    .in-mail-servers:after, .sky-box:after {
        content: '';
        position: absolute;
        background: url("../images/mail-security/arrow-right.png") no-repeat transparent;
        width: 26px;
        height: 20px;
        right: -88px;
        top: -133px;
        bottom: 0;
        margin: auto;
    }
    .white-part {
        min-height: 120px;
    }
    .icons-inline-block-bottom {
        width: 100%;
    }
    .icons-inner {
        background-position: center center;
    }
    .icons-inner {
        min-height: 165px;
        margin-bottom: 44px;
    }
    .icons {
        margin-top: 25px;
    }
    .sky-box:before {
        top: -209px;
    }
    .white-bottom .white-shadow {
        width: 49%;
    }
    .white-shadow:nth-child(even) {
        margin-top: 0;
    }
    .greyarrowIMG .site-container:after{
        bottom: -54px;
    }
    .whitearrowIMG .site-container:after{
        bottom: -54px;
    }
    .circlIMG{
        margin: 0 auto;
    }
    .li-checkd:before {
        margin-left: 0;
    }
    .li-arrow:before {
        margin-left: 0;
    }
    .MSecrurePhone {
        width: 150px;
    }
    .phone1 {
        top: 5px;
    }
    .phone3 {
        top:5px;
    }
}
@media only screen and (max-width: 768px) {
    .center{
        text-align: center;
    }
    .rows-box {
        display: block;
        text-align: center;
    }
    .icons-box , .icons-box1  {
        margin: 20px auto;
        float: none!important;
    }
    .site-footer, .page-wrap:after {
        height: auto;
        text-align: center;
    }
    .footer-list, .footer-social-icons {
        padding-left: 71px;
        margin-bottom: 20px;
    }
    .footer-social-icons {
        width: auto;
    }
    header {
        height: auto;
        line-height: 60px;
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        z-index: 100;
        width: 100%;
        text-align: center;
    }
    .business-Av {
        background: rgba(11, 89, 125, 0.4);
    }
    .paddingLeft-15{
        padding-left: 15px;
    }
    .paddingRight-15{
        padding-right: 15px;
    }
    .header-menu {
        text-align: center;
    }
    .margin-bottom-100{
        margin-bottom: 30px;
    }
    .standard_size{
        width: 100%;
        float: none;
        margin-right: 0;
    }
    .premium_size{
        width: 100%;
        float: none;
        margin-left: 0;
    }
    .redIMG{
        padding:10px 0 20px 0;
    }
    .work_section .margin-bottom-70{
        margin-bottom: 10px;
    }
    h4.textBG{
        font-size: 35px;
    }
    .textBG:before {
        height: 73px;
        left: 27px;
    }
    .download-box{
        height: 150px;
        width: 100%;
        padding: 60px 0 60px 0;
    }
    .padding_Download{
        padding:20px 10px 0 10px;
    }
    .redBorder{
        border: 1px solid #ca1318;
        border-bottom: none;
    }
    .redBorder:last-child{
        border-bottom:  1px solid #ca1318;
    }
    .red-md-box{
        padding: 15px 5px;
    }
    .title-38{
        font: 28px "Roboto-Black";
    }
}

@media only screen and (max-width: 482px) {
    .greenBTN, .greenBTN:hover, .greenBTN:active, .greenBTN:focus {
        background: #5bbb71;
        color: white;
        font: 13px 'Roboto-Bold';
        padding: 20px 13px;
        width: 100%;
    }
    .grey-header {
       margin-top: 0;
	   position: static;
    }
    .main-title {
        font: 16px 'Roboto-Bold';
        margin: 30px 0;
    }
    .title-m {
        font: 18px 'Roboto-Thin';
        margin: 0 0 30px 0;
    }
    .title-sm {
        font: 17px 'Roboto-Light';
        margin: 0;
    }
	.data-text {
		text-align: center;
	}
	.readMore_link  , .readMore_link:hover , .readMore_link:focus , .readMore_link:active {
		display: block;
		text-align: center;
		float: none;
	}
	.margin-bottom-110 {
		margin-bottom: 10px;
	}
	.title-black {
		font: 18px 'Roboto-Bold';
	}
	.text-black {
		font: 15px 'Roboto-Regular';
	}
	.red-title-sm {
		font: 15px "Roboto-Black";
		width: 100%;
		word-wrap: break-word;
	}
    .text-m {
        margin-top: 30px;
    }
    header {
        position: static;
        margin-bottom: -10px;
        line-height: 2.5;
        padding: 15px 0;
    }
    .home-top {
        width: 100%;
        float: left;
        margin-top: 0;
    }
    .header_margin{
        margin-top: 0;
    }
    .red-header {
        background: #a60c10;
    }
    .business-Av {
        background: #0b597d;
    }
    .header-menu {
        padding-left: 0;
    }
    .red-tox-box {
        height: auto!important;
        padding: 50px 15px!important;
        width: 100%;
        float: left;
    }
    .footer-list, .footer-social-icons {
        width: 100%;
        padding-left: 0;
        margin-bottom: 30px;
    }
    .footer-list:first-child {
        padding-left: 0;
    }
    .list-heading {
        margin-bottom: 8px;
    }
    .book-box {
        width: 200px;
        height: 140px;
    }
    .MSecrureBook {
        width: 85px;
    }
    .downloadBtn, .downloadBtn:hover , .downloadBtn:active , .downloadBtn:focus {
        padding: 15px;
    }
    .red-tox-box {
        height: 660px;
        padding: 170px 15px;
    }
    .header-menu li {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .xs-full {
        width: 100%;
        text-align: center;
    }
    .icons-box , .icons-box1  {
        height: 150px;
        width: 150px;
    }
    .icon , .icon-bg {
        background-size: contain!important;
    }
    .red-title , .blue-title {
        font: 25px 'Roboto-Black';
        word-wrap: break-word;
    }
    .padding {
        padding: 50px 0;
    }
    .white-bottom .white-shadow {
        width: 100%;
    }
    .trSize{
        width: 100px;
    }

    .redBg .white-title{
        font: 35px "Roboto-Black"
    }
    .redBg .white-title-sm{
        font: 20px "Roboto-Regular"
    }
    .redIMG .title-white-sm, .redBg .title-white-sm{
        font-size: 27px;
    }
    .detailsBTN, .detailsBTN:focus, .detailsBTN:active, .detailsBTN:hover, .detailsBTN:active:focus, .detailsBTN:active:hover {
        padding: 20px 20px;
        width: 100%;
    }
    .MSecrurePhone {
        width: 85px;
    }
    .phone1 {
       left: 5px;
    }
    .phone3 {
        right:5px;
    }
    .main-title-STS360 {
        font-size: 30px;
    }
    .title-38{
        font: 23px "Roboto-Black";
    }
    .redColor-title {
        font-size: 25px;
    }
    .header-drop-down{
	    left: 0;
	    right: 0;
	    margin: auto;
    }
    .dropmenuBG{
    	 float: none;
	 display: none;
	 margin: auto;
	 width: 100%;
    }
    ul.dropdown-menu.dropmenuBG {
        text-align: center;
    }
}
@media only screen and (min-width: 1200px){
	.site-container {
	    width: 940px;
	    margin: 0 auto;
	}
}
