* {
    margin: 0;
}
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot');
    src: url('fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff') format('woff'),
    url('fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf') format('truetype'),
    url('fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold/Roboto-Bold.eot');
    src: url('fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
    url('fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
    url('fonts/Roboto-Bold/Roboto-Bold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black/Roboto-Black.eot');
    src: url('fonts/Roboto-Black/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Black/Roboto-Black.woff') format('woff'),
    url('fonts/Roboto-Black/Roboto-Black.ttf') format('truetype'),
    url('fonts/Roboto-Black/Roboto-Black.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium/Roboto-Medium.eot');
    src: url('fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
    url('fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
    url('fonts/Roboto-Medium/Roboto-Medium.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('fonts/Roboto-MediumItalic/Roboto-MediumItalic.eot');
    src: url('fonts/Roboto-MediumItalic/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-MediumItalic/Roboto-MediumItalic.woff') format('woff'),
    url('fonts/Roboto-MediumItalic/Roboto-MediumItalic.ttf') format('truetype'),
    url('fonts/Roboto-MediumItalic/Roboto-MediumItalic.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light/Roboto-Light.eot');
    src: url('fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
    url('fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
    url('fonts/Roboto-Light/Roboto-Light.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('fonts/Roboto-Italic/Roboto-Italic.eot');
    src: url('fonts/Roboto-Italic/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Italic/Roboto-Italic.woff') format('woff'),
    url('fonts/Roboto-Italic/Roboto-Italic.ttf') format('truetype'),
    url('fonts/Roboto-Italic/Roboto-Italic.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
    url('fonts/Roboto-Regular/Roboto-Regular.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto-Thin/Roboto-Thin.eot');
    src: url('fonts/Roboto-Thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Thin/Roboto-Thin.woff') format('woff'),
    url('fonts/Roboto-Thin/Roboto-Thin.ttf') format('truetype'),
    url('fonts/Roboto-Thin/Roboto-Thin.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
li {
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
html, body {
    height: 100%;
   /* overflow-x: hidden;*/
}
 body {
    height: 100%;
    overflow-x: hidden;
    
}
p {
    word-wrap: break-word;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -276px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 276px;
}

.site-container {
    margin: 0 auto;
    padding-left:0;
    padding-right:0;
}
.no-padding{
    padding: 0;
}
.no-margin .box-shadow{
    margin-right: 0 !important;
}
/*header styles start*/
header {
    height: 60px;
    line-height: 60px;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 100;
    width: 100%;
}
.red-header {
    background: rgba(187, 16, 21, 0.4);
    border-bottom: 1px solid #cf1d23;
    z-index: 55;
}
.grey-header {
    background:rgba(44, 41, 39, 0.65);
    z-index: 55;
}
.margin-top-60 {
    margin-top: 60px;
}
.grey-header .greyIcon{
    color: #2d2a29;
}
.header-menu > li{
    display: inline-block;
    vertical-align: middle;
    font: 14px 'Roboto-Regular';
    margin-left: 30px;
}
.header-menu li:first-child{
    margin-left: 0;
}
.header-menu a{
    color: white;
    text-transform: capitalize;
}
.whiteRound {
    background: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #c91318;
}
/*header styles end*/
.tox-box {
    min-height: 740px;
    color: white;
    padding-top: 170px;
}
/* tox-box styles start*/
.home-top {
    background: url("../images/header-BG.jpg") transparent no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 22px;
    width: 100%;
    float: left;
}
.title-sm {
    font: 24px 'Roboto-Light';
    margin: 0;
}
.main-title {
    font: 44px 'Roboto-Bold';
    margin: 60px 0 27px;
}
.title-m {
    font: 36px 'Roboto-Thin';
    margin: 0 0 55px 0;
}
.greenBTN ,.greenBTN:hover , .greenBTN:active,  .greenBTN:focus {
    background: #5bbb71;
    color: white;
    font: 20px 'Roboto-Bold';
    padding: 33px 35px;
}
.white-Round , .greenBTN {
    border-radius: 47px;
}

.price span{
    display: block;
}
.top-form {
    margin-top: 60px;
}
.old-price {
    font: 26px 'Roboto-Bold';
}
.new-price {
    font: 18px 'Roboto-Bold';
}

.white-Round {
    border: 1px solid #ffffff;
    width: 295px;
    padding: 18px 35px;
    text-align: center;
    height: 90px;
    line-height: 90px;
}
.priceIN {
    line-height: 1;
}
/* tox-box styles end*/
/*STS360 styles start */
.red-tox-box {
    background: #cb1419;
    height: 848px;
}
.main-title-STS360 {
    color: white;
    font: 44px 'Roboto-Black';
    margin: 0 0 5px 0;
    word-wrap: break-word;
}
.downloadBtn, .downloadBtn:hover , .downloadBtn:active , .downloadBtn:focus {
    border-radius: 6px;
    padding: 25px 81px;
    font: 18px 'Roboto-Black';
    color: white;
}
.dark-greenBTN {
    background: #327639;
}
.blueBTN {
    background: #0996c1;
}
.violetBTN {
    background: #8b4e9b;
}
.orangeBTN {
    background: #e9a535;
}
.book-box {
    position: relative;
    z-index: 2;
    bottom: 0;
    height: 600px;
    width: 810px;
    margin: 0 auto;
}
.MSecrureBook{
    position: absolute;
    padding-top: 10px;
}
.book1 {
    left: 0;
    z-index: 1;
    top: 35px;
}
.book2 {
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.book3 {
    right: 0;
    z-index: 1;
    top: 30px;
}
.redTxt {
    color: #c91318;
}
.red-title {
    font: 44px 'Roboto-Black';
    text-transform: uppercase;
}
.red-paragraph {
    font: 17px 'Roboto-Regular';
}
.icons-box  , .icons-box1 {
    height: 295px;
    width: 295px;
    position: relative;
}
.icon-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.virusWallBg {
    background: url("../images/virusBG.png") no-repeat transparent;
}
.quarantineBg {
    background: url("../images/quarantineBg.png")  no-repeat transparent;
    width: 350px;
}
.chiefBg {
    background: url("../images/chiefBg.png")  no-repeat transparent;
}
.diagnosticBg {
    background: url("../images/diagnisticBg.png")  no-repeat transparent;
    width: 350px;
}
.parentalBg {
    background: url("../images/parentalBg.png")  no-repeat transparent;
}
.firewallBg {
    background: url("../images/firewallBg.png")  no-repeat transparent;
}
.compInfectedBg {
    background: url("../images/compInfetedBg.png")  no-repeat transparent;
}
.timeBg {
    background: url("../images/timeBg.png")  no-repeat transparent;
}
.alarmBg {
    background: url("../images/alarmBg.png")  no-repeat transparent;
    width: 350px;
}
.doneBg {
    background: url("../images/doneBg.png")  no-repeat transparent;
}
.fragmentationBg {
    background: url("../images/fragmentationBg.png")  no-repeat transparent;
}
.icon {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.icon-bg:hover {
    -webkit-animation: all 0.5s ease-out;
    -moz-animation: all 0.5s ease-out;
    -o-animation: all 0.5s ease-out;
    animation: all 0.5s ease-out;
}
.virusWall {
    background: url("../images/virus.png") no-repeat transparent;
}
.quarantine {
    background: url("../images/quarantine.png") no-repeat transparent;
}
.antiChief {
    background: url("../images/antiChief.png") no-repeat transparent;
}
.diagnostic {
    background: url("../images/diagnostic.png") no-repeat transparent;
}
.parentalControl {
    background: url("../images/parentalControl.png") no-repeat transparent;
}
.firewall {
    background: url("../images/firewall.png") no-repeat transparent;
}
.compInfected {
    background: url("../images/compInfected.png") no-repeat transparent;
}
.timeImg {
    background: url("../images/time.png") no-repeat transparent;
}
.alarm {
    background: url("../images/alarm.png") no-repeat transparent;
}
.done {
    background: url("../images/done.png") no-repeat transparent;
}
.fragmentation {
    background: url("../images/fragmentation.png") no-repeat transparent;
}
.txt-box {
    width: 535px;
}
.greyBg {
    background: #f7f7f7;
}
.padding {
    padding: 144px 0 90px;
}
.padding2 {
    padding: 144px 0 60px;
}
.padding-3{
    padding:60px 0;
}
.systemRequirments {
    color: black;
    font-size: 14px;
}
.systemRequirments h4{
    font: 14px 'Roboto-Black';
}
.systemRequirments .txt{
    font: 14px 'Roboto-Regular';
    color: #747474;
}
.systemRequirments .fa-cog {
    font-size: 39px;
}
.txt-box .systemRequirments {
    margin-top: 45px;
}
/* footer styles start */
.red-footer {
    background: #a60c10;
    padding: 45px 0 25px;
    color: white;
}
.footer-list , .footer-social-icons {
    display: inline-block;
    vertical-align: top;
}
.footer-list , .footer-social-icons {
    padding-left: 67px;
}
.footer-list:first-child {
   padding-left: 15px;
}
.footer-list a{
    color: white;
    font: 14px 'Roboto-Regular';
}
.footer-social-icons li {
    display: inline-block;
}
.footer-social-icons a i{
    color: #a60c10;
}
.list-heading {
    font: 16px 'Roboto-Bold';
    margin-bottom: 24px;
}
.rows-box {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-align-items: center;
    align-items: center;
}
/* footer styles end */
/*MSTS360 styles end */
.animated, .animated .aninode {
    visibility: visible;
}
.flyRight {
    -webkit-animation: flyRight 1s ease;
    -moz-animation: flyRight 1s ease;
    -o-animation: flyRight 1s ease;
    animation: flyRight 1s ease;
}
.aninode {
    visibility: hidden;
}
.icons-box, .icons-box1 {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}
.animated .icons-box, .animated .icons-box1 {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
}

.copyright {
    font: 12px 'Roboto-Regular';
    color: #560002;
}
/*MSecure Business Antivurs styles start*/
.business-Av-box {
    background: url("../images/business-Av/business-Antivurs-Bg.jpg") no-repeat  transparent;
    background-size: cover;
}
.business-Av .whiteRound , .business-AvTxt{
    color: #127eaf;
}
.blue-title {
    font: 44px 'Roboto-Black';
    text-transform: uppercase;
}
.blue-paragraph {
    font: 18px 'Roboto-Regular';
}
.upper-txt-blue {
    font: 18px 'Roboto-Italic';
}
.red-part-txt {
    background: #d31a1a;
    padding: 25px 18px;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 45px;
    font: 16px 'Roboto-MediumItalic';
}
.av-list {
    padding-left: 0;
    margin-top: 30px;
}
.av-list li {
    list-style: none;
    left: 15px;
    position: relative;
    font: 18px 'Roboto-Regular';
    line-height: 1.5;
}
.av-list li:before{
    content: "\f105";
    color: #127eaf;
    margin-right: 12px;
    font-family: FontAwesome;
    position: absolute;
    left: -15px;
}
.sys-requirement {
    padding: 68px 0 55px 0;
}
.sys-requirement-img {
    margin-top: 65px;
}
.blue-footer {
    background: #0b597d;
    padding: 45px 0 25px;
    color: white;
}
.blue-footer .whiteRound{
    color: #127cad;
}
.blue-footer .copyright{
    color: #00344c;
}
/*MSecure Business Antivurs styles end*/
/* mail security styles start */
.mail-security-box {
    background: url("../images/mail-security/mail-securityBg.jpg") no-repeat transparent;
    background-size: cover;
}
.lightBlue {
    background: url("../images/mail-security/bgLight-blue.jpg") transparent no-repeat;
    background-size: cover;
    min-height: 910px;
    color: white;
}
.white-part {
    background: #f8f8f8;
    min-height: 120px;
    position: relative;
    color: #202020;
    font: 14px 'Roboto-Regular';
    text-align: center;
    padding: 30px 15px;
    display: flex;
    align-items: center;
}
.white-shadow {
    background: url("../images/mail-security/white-shadow.png") no-repeat transparent;
    height: 160px;
    padding: 0;
}
.white-part:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 10px solid #f8f8f8;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}
.icons {
    margin-top: 83px;
}
.icons-inner {
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height: 165px;
}
.in-mail-servers {
    background: url("../images/mail-security/in-mail-servers-bg.png") no-repeat transparent;
}
.sky-box {
    background: url("../images/mail-security/sky-bg.png") no-repeat transparent;
    position: relative;
}
.lock {
    background: url("../images/mail-security/lock-bg.png") no-repeat transparent;
    background-position: 46px 0;
}
.letter {
    background: url("../images/mail-security/letter-bg.png") no-repeat transparent;
    background-position: 25px;
}
.sky-box:before {
    content: '';
    position: absolute;
    background: url("../images/mail-security/arrows.png") no-repeat transparent;
    width: 45px;
    height: 25px;
    right: 0;
    left: 0;
    top: -245px;
    bottom: 0;
    margin: auto;
}

.file-box {
    background: url("../images/mail-security/file-bg.png") no-repeat transparent;
    height: 150px;
    margin: -30px auto;
    text-align: left;
    width: 118px;
}
.icons-desc {
    margin-top: 15px;
    font: 16px 'Roboto-Black';
}
.in-mail-servers:after , .sky-box:after{
    content: '';
    position: absolute;
    background: url("../images/mail-security/arrow-right.png") no-repeat transparent;
    width: 26px;
    height: 20px;
    right: -45px;
    top: -41px;
    bottom: 0;
    margin: auto;
}
.margin-bottom-110 {
    margin-bottom: 110px;
}
.icons-inline-block-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
    width: 24%;
}
.white-bottom-inner {
    background: #f8f8f8;
    width: 100%;
    padding: 5px 10px;
    color: #202020;
    text-align: center;
    position: relative;
    min-height: 125px;
}
.white-bottom-inner:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 8px solid #f8f8f8;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
}
.white-bottom .white-shadow {
    width: 19%;
    display: inline-block;
    vertical-align: middle;
}
.white-bottom {
    margin-top: 90px;
}
.white-shadow:nth-child(even) {
    margin-top: 10px;
}
.white-bottom-inner h4 {
    font: 14px 'Roboto-Black';
}
.white-bottom-inner p {
    font: 14px 'Roboto-Regular';
}
/* mail security styles end */
/*Home_page styles start*/
.text-m{
    font: 18px 'Roboto-Bold';
    margin-top: 85px;
}
.text-sm{
    font: 16px 'Roboto-Light';
    margin: 0;
}
.page-contant{
    background: #fafafa;
    float: left;
    width: 100%;
}
.title-black{
    font: 24px 'Roboto-Bold';
    color: #363f4f;
    margin: 0;
}
.text-black{
    font: 18px 'Roboto-Regular';
    color: #363f4f;
    margin-top: 12px;
}
.page-contant{
    padding-top: 61px;
    padding-bottom: 61px ;
}
.red-title-sm {
    color: #ca1318;
    font: 18px "Roboto-Black" ;
    margin: 20px auto;
    width: 60%;
}
.box-shadow{
    background: #fff;
    padding: 27px 0;
    box-shadow: 0 -2px 9px 1px #cccccc;
}
.li-item , .leadsCycleContainer_exchange li{
    border-top:1px solid #f1f1f1;
    line-height: 2.4;
}
.li-item:last-child{
    border-bottom: 1px solid #f1f1f1;
}
.text-gray{
    font: 16px "Roboto-Regular";
    color: #656565;
}
.div-text{
    margin-top: 38px;
    margin-bottom: 40px;
}
.windows-icon-img{
    margin-left: 10px;
}
.downloadBtn-sm  , .downloadBtn-sm:hover , .downloadBtn-sm:active ,.downloadBtn-sm:focus{
    border-radius: 0;
    padding: 18px 45px 21px 45px;
    font: 16px 'Roboto-Black';
    color: white;
}
.btn-text{
    font:14px "Roboto-Regular";
    color: #1591d0;
    margin-bottom: 24px;
    margin-top: 13px;
}
.lern-link, .lern-link:hover,  .lern-link:active,  .lern-link:focus{
    font:14px "Roboto-Bold";
    color: #ca1318;
    line-height: 1.3;
}
.margin-bottom-45{
    margin-bottom: 45px;
}
.border-gray{
    border:1px solid #cccccc;
    overflow: hidden;
}
.info-section-title{
    border-top:6px solid #c91318 ;
    margin-bottom: 10px;
}
.info-section-title a{
    display: inline-block;
    padding:19px 90px 23px 15px ;
    font: 16px "Roboto-Regular";
    color: #c91318;
}
.data-text{
    font:16px "Roboto-Regular";
    color: #4d4d4d;
    line-height: 2;
}
.strong-text{
    font:16px "Roboto-Black";
    color: #202020;
    margin-left: 10px;
    display: inline-block;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.gray-box{
    background: #54647f;
    height: 121px;
}
.p-text{
    font:14px "Roboto-Italic";
    color: #202020;
}
.strong-text-sm{
    font:14px "Roboto-Black";
    color: #202020;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}
.text-section1{
    padding: 20px 15px;
}
.text-section3{
    padding: 21px 10px;
}
.text-section2{
    padding: 21px 10px;
}
.red_section{
    background:#c91318;
    color: #fff;
    padding-top:75px;
    padding-bottom: 100px;
    overflow: hidden;
}
.title-lg{
    font:44px "Roboto-Regular";
    margin-bottom: 90px;
}
.title-xs{
    font: 22px "Roboto-Black";
    margin-top: 35px;
    margin-bottom: 29px;
}
.text-xs{
    font: 16px "Roboto-Regular";
    line-height: 1.3;
}
.down_arrow, .down_arrow:hover,  .down_arrow:active,  .down_arrow:focus {
    border: 1px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    display: block;
    margin: 17px auto;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.readMore_link,.readMore_link:hover,  .readMore_link:active,  .readMore_link:focus {
    float: right;
    margin-right: 7px;
}
.margint-top-41{
    margin-top: 41px;
}
.group-info{
    margin-top: 50px;
    width: 100%;
    float: left;
}
.box-shadow ul, .group-info ul{
    padding: 0;
}
/*Home page styles end*/
/*Co-branding styles start*/
.Co-branding-box{
    background: url("../images/Co-branding/header_bg.png") no-repeat transparent;
    background-size: cover;
    min-height: 670px;
    overflow: hidden;
}
.redBg{
    background-color: #cc1419;
    float: left;
    width: 100%;
}
.white-title{
    color: #fff;
    font: 44px "Roboto-Black"
}
.white-title-sm{
    color: #fff;
    font: 22px "Roboto-Regular"
}
.white-text{
    color: #fff;
    font: 16px "Roboto-Regular"
}
.title-white-sm{
    color: white;
    font: 32px "Roboto-Black";
}
.redColor{
    color: #cc1419;
}
.margin-bottom-70{
    margin-bottom: 70px;
}
.margin-bottom-35{
    margin-bottom: 35px;
}
.searchBG{
    background: url("../images/Co-branding/search-iconBG.png") no-repeat transparent;
    background-size: cover;
}
.hendsBG{
    background: url("../images/Co-branding/hends-iconBG.png") no-repeat transparent;
    background-size: cover;
}
.computerBG{
    background: url("../images/Co-branding/computer-iconBG.png") no-repeat transparent;
    background-size: cover;
}
.moneyBG{
    background: url("../images/Co-branding/moneyBG.png") no-repeat transparent;
    background-size: cover;
}
.input-form{
    border:1px solid #fff;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    outline:none;
    margin-bottom: 10px;
    font: 16px "Roboto-Regular";
    height: 47px;
}
.input-form{
    background-color: transparent;
    color: #fff;
}
.input-form::-webkit-input-placeholder {
    color: white;
    font: 16px "Roboto-Regular"
}
.input-form::-moz-placeholder { /* Firefox 18- */
    color: white;
    font: 16px "Roboto-Regular"
}
.input-form::-moz-placeholder {  /* Firefox 19+ */
    color: white;
    font: 16px "Roboto-Regular"
}
.input-form:-ms-input-placeholder {
    color: white;
    font: 16px "Roboto-Regular"
}
.reg-form{
    padding:60px 0;
}
.order-title{
    margin-top: 50px;
    margin-bottom: 30px;
}
.order-title h3{
    color: white;
    font: 22px "Roboto-Black";
}
.padding-right0{
    padding-right: 0;
}
.padding-left0{
    padding-left: 0;
}
.submitBTN, .submitBTN:focus, .submitBTN:active, .submitBTN:hover, .submitBTN:active:focus, .submitBTN:active:hover{
    background-color: #fff;
    color: #ca1318;
    border-radius: 0;
    font: 16px "Roboto-Black";
    padding: 25px 80px;
    border:none;
    outline-style:none;
    margin-top: 30px;
}
.partnerSection{
    float: left;
    width: 100%;
    padding:60px 0 50px 0;
}
.red-title-xs{
    font:18px "Roboto-Black";
}
.manBG{
    background: url("../images/Co-branding/man-iconBG.png") no-repeat transparent;
    background-position: 0 -1px;
}
.arrowBG{
    background: url("../images/Co-branding/arrowBG.png") no-repeat transparent;
    background-position: 0 -1px;
}
.webBG{
    background: url("../images/Co-branding/webBG-icon.png") no-repeat transparent;
    background-position: 0 -1px;
}
.bookBG{
    background: url("../images/Co-branding/bookBG-icon.png") no-repeat transparent;
    background-position: 0 -1px;
}
.headphonesBG{
    background: url("../images/Co-branding/headphonesBG-icon.png") no-repeat transparent;
    background-position: 0 -1px;
}
.patrnerIcons{
    float:left;
    width: 100%;
}
.margin-bottom-55{
    margin-bottom: 55px;
}
.work_section{
    padding-top:50px;
    width: 100%;
    float: left;
}
.pading_icon{
    padding: 60px 0 27px 0;
}
.redIMG{
    background: url("../images/Co-branding/redBG.png") no-repeat transparent;
    background-position: center center;
    background-size: cover;
}
.detailsBTN, .detailsBTN:focus, .detailsBTN:active, .detailsBTN:hover, .detailsBTN:active:focus, .detailsBTN:active:hover{
    background-color:#fff;
    font: 16px "Roboto-Black";
    color: #ca1318;
    padding: 20px 90px;
    border:none;
    outline-style: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.standard li{
    color: #fff;
    font:18px "Roboto-Regular";
}
.whitearrowIMG .site-container, .greyarrowIMG .site-container{
    position: relative;
}
.whitearrowIMG .site-container:after{
    content: '';
    background: url("../images/Co-branding/whiteArrowBG.png") no-repeat transparent;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: -82px;
    z-index: 22;
    left: 0;
    right: 0;
    margin: auto;
    background-size: contain;
}
.greyarrowIMG .site-container:after{
    content: '';
    background: url("../images/Co-branding/greyArrowBg.png") no-repeat transparent;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: -82px;
    z-index: 22;
    left: 0;
    right: 0;
    margin: auto;
    background-size: contain;
}
.companis_section{
    margin-top: 85px;
}
.companis_section ul{
    padding: 0;
}
.circleBG{
    min-height: 325px;
    background: url("../images/Co-branding/circle.png") no-repeat transparent;
    background-position: right -7px;
    padding: 60px 0 65px 0;
}
.whiteColor{
    color: #fff;
}
.circlIMG{
    width: 153px;
    height:153px;
    border-radius: 50%;
    background-color: #cc1419;
    background-position: center center;
    overflow: hidden;
}
.bike_photo{
    background-image: url("../images/Co-branding/bike_car.png");
}
.pepole_photo{
    background-image: url("../images/Co-branding/pepole.png");
}
.money_time{
    background-image: url("../images/Co-branding/money_time.png");
}
.menIMG{
    background-image: url("../images/Co-branding/menIMG.png");
}
.number{
    font: 100px "Roboto-Bold";
    line-height: 1.5;
}
.standard_size{
    width: 275px;
    float: right;
    margin-right: 80px;
}
.premium_size{
    width: 275px;
    float: left;
    margin-left: 80px;
}
.margin-bottom-28{
    margin-bottom: 28px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.select-icon select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select-icon{
    position: relative;
}
.select-icon:after{
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    right: 15px;
    z-index: 222;
    color: white;
    top: 8px;
    font-size: 20px;
}
.select-icon option{
    color: red;
}
.file-input{
    position: relative;
}
div.upload {
    width: 110px;
    height: 39px;
    background: url("../images/Co-branding/upload-btn.png") no-repeat;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    top: -53px;
    right: 5px;
}
div.upload input {
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
.companis_section li .fa-check{
    font-size: 22px;
}
.margin-left-10{
    margin-left: 10px;
}
.partners_section{
    padding-top: 60px;
}
/*chackbox*/
input[type=checkbox] {
    visibility: hidden;
}
/* SQUARED THREE */
.chack_text{
    display: inline-block;
    margin: 20px 0;
}
.squaredThree{
    display: inline-block;
    width: 28px;
    margin: 20px 0;
    position: relative;
    margin-right: 20px;
}
.squaredThree label {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
    background:transparent;
    border:1px solid #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 19px;
    height: 14px;
    background: transparent;
    top: 2px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredThree label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.squaredThree input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
/*chackbox end*/
/*Co-branding styles end*/

/*MSEWLP Page styles start*/
.brand-info{
    padding: 80px 0 85px 0;
}
.title-robot-Block{
    font:22px "Roboto-Black";
}
.red-text{
    font: 16px "Roboto-Regular";
    line-height: 1.9;
}
.red-text-Block{
    font: 16px "Roboto-Black";
}
.txt-box ul{
    padding: 0;
}
.bg{
    width: 100%;
    float: left;
}
.label-title{
    color: #fff;
    margin-bottom: 15px;
    font: 16px "Roboto-Regular";
}
.product_tabel{
    padding: 60px 0 29px 0;
}
.table-product tr, .table-product td{
    height: 50px;
}
.table-product thead{
    background-color: #ca1318;
    color: #fff;
}
.table-product tbody .fa-check{
    color: #fff;
    font-size: 25px;
}
.table-product tbody tr:nth-child(odd){
     background-color: #f9f9f9;
}
.table-product tbody tr:nth-child(even){
    background-color: #f4f4f4;
}
.lightVinous{
    border:2px solid #f4f4f4;
    background-color: #da7171;
}
.strongVinous{
    border:2px solid #f4f4f4;
    background-color: #a94d4d;
}
.trSize{
    width: 200px;
    text-align: center;
}
.table-product td:first-child, .table-product th:first-child{
    padding-left: 13px;
}
.li-checkd:before {
     content: "\f00c";
     font-family: FontAwesome;
     margin-left: -26px;
     margin-right: 5px;
 }
.li-arrow:before {
    content: "\f054";
    font-family: FontAwesome;
    margin-left: -15px;
    margin-right: 5px;
}
/*MSEWLP Page styles end*/
/*slider*/
.block__roll {
    height: 100px;
    overflow: hidden;
}
.block__roll1 {
    height: 240px;
    overflow: hidden;
}
.block__roll2 {
    height: 273px;
    overflow: hidden;
}
/*slider end*/
.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
    margin-top: 0;
}
/*MSECURE page style start*/
.fireWall{
    background: url("../images/MSECURE_page/firewallBG.png") no-repeat transparent;
}
.fireWallBG {
    background: url("../images/MSECURE_page/firewall.png")  no-repeat transparent;
}
.simWall {
     background: url("../images/MSECURE_page/sim_wall.png") no-repeat transparent;
     background-size: contain;
 }
.simWallBG {
    background: url("../images/MSECURE_page/sim_wallBG.png")  no-repeat transparent;
}
.updateWall {
    background: url("../images/MSECURE_page/update_wall.png") no-repeat transparent;
}
.updateWallBG {
    background: url("../images/MSECURE_page/update_wallBG.png")  no-repeat transparent;
    width: 350px;
}
.wipeWall{
    background: url("../images/MSECURE_page/wipe_wall.png")  no-repeat transparent;
}
.wipeWallBG{
    background: url("../images/MSECURE_page/wipe_wallBG.png")  no-repeat transparent;
}
.theftWall{
    background: url("../images/MSECURE_page/theft_wall.png")  no-repeat transparent;
}
.theftWallBG{
    background: url("../images/MSECURE_page/theft_wallBG.png")  no-repeat transparent;
}
.alarmWall{
    background: url("../images/MSECURE_page/alarm.png")  no-repeat transparent;
}
.alarmWallBG{
    background: url("../images/MSECURE_page/alarmBG.png")  no-repeat transparent;
}
.lockWall{
    background: url("../images/MSECURE_page/lock_wall.png")  no-repeat transparent;
}
.lockWallBG{
    background: url("../images/MSECURE_page/lock_wallBG.png")  no-repeat transparent;
}
.greyBgstrong{
    background-color: #f8f8f8;
}
.border-dashed-top{
    border:1px dashed #e5e5e5;
}
.MSecrurePhone{
    position: absolute;
    padding-top: 10px;
}
.phone1 {
    left: 45px;
    z-index: 1;
    top: 90px;
}
.phone2 {
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.phone3 {
    right: 50px;
    z-index: 1;
    top: 90px;
}
.margin-box{
    margin: 20px auto;
}
/*MSECURE page style end*/
/* download_page style start*/
.download-box{
    background-color: #ca1318;
    max-height: 220px;
    width: 100%;
    padding: 120px 0 60px 0;
}
.textBG{
    position: relative;
    z-index: 1;
}

        .textBG:before {
    background: url("../images/download_page/downloadBG.png") transparent no-repeat 14px bottom;
    background-position: center;
    content: "";
    width: 100%;
    height: 93px;
            background-size: contain;
            position: absolute;
            left: 37px;
    right: 0;
    top: 10px;
    z-index: -1;
}

.redBorder{
    border: 1px solid #ca1318;
    border-right: none;
}
.redBorder:last-child{
    border-right:  1px solid #ca1318;
}
.redBorder a{
    font: 16px "Roboto-Regular";
}
.redBorder:hover, .header_nav .active, .header_nav li:focus{
    background-color: #ca1318;
    color: #fff;
}
.header_nav .active a, .header_nav li:focus a, .redBorder:hover a{
    color: #fff;
}
.download_menu{
    padding: 20px 0;
}
.padding_Download{
    padding:20px 0 0px 0;
}
.header_nav {
    padding: 0;
}
/* download_page style end*/
/* about-page style start*/
.red-md-box{
    min-height: 470px;
    background-color: #ce151a;
    padding: 155px 5px 65px 5px;
}
.title-38{
    font:38px "Roboto-Black";
}
.arrow_icon{
    position: relative;
}
.red-paragraph-xs {
    font: 16px 'Roboto-Regular';
}
.redColor-title {
    font: 34px 'Roboto-Black';
    text-transform: uppercase;
}
.square{
    background: url("../images/about-page/square.png") no-repeat transparent;
}
.squareBG {
    background: url("../images/about-page/squareBG.png") no-repeat transparent;
    width: 350px;
}
.technology{
    background: url("../images/about-page/technology.png") no-repeat transparent;
}
.technologyBg {
    background: url("../images/about-page/technologyBG.png") no-repeat transparent;
}
.antivirus{
    background: url("../images/about-page/antivirus.png") no-repeat transparent;
}
.antivirusBg {
    background: url("../images/about-page/antivirusBG.png") no-repeat transparent;
}
.websecurity{
    background: url("../images/about-page/websecurity.png") no-repeat transparent;
}
.websecurityBg {
    background: url("../images/about-page/websecurityBG.png") no-repeat transparent;
}
.intelligence{
    background: url("../images/about-page/intelligence.png") no-repeat transparent;
}
.intelligenceBg {
    background: url("../images/about-page/intelligenceBG.png") no-repeat transparent;
}
.auto-intelligence{
    background: url("../images/about-page/auto-intelligence.png") no-repeat transparent;
}
.auto-intelligenceBg {
    background: url("../images/about-page/auto-intelligenceBG.png") no-repeat transparent;
}
.hand{
    background: url("../images/about-page/hand.png") no-repeat transparent;
}
.handBg{
    background: url("../images/about-page/handBG.png") no-repeat transparent;
}
.li-checkd-sm:before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-left: -26px;
    margin-right: 5px;
}
.paddingUL{
    padding-left: 24px !important;
    line-height: 1.5;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}
.btn-circle i.animated2 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated2 {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
/* about-page style end*/
/* drop down menu */
.dropmenuBG{
    background-color: #a70c10;
    border: 1px solid #a60c10;
}
.dropmenuBG li{
    background-color: transparent;
}
.dropmenuBG li a{
    color: #fff;
}
.dropdown .fa-angle-down{
    margin-left: 7px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #A60C10;
    text-decoration: none;
    background-color: #f5f5f5;
}
.blue-footer .dropmenuBG{
    background-color: #0B597D;
    border: 1px solid #0B597D;   
}
.blue-footer .dropdown-menu>li>a:focus, .blue-footer .dropdown-menu>li>a:hover {
    color: #127CAD;
    text-decoration: none;
    background-color: #f5f5f5;
}
.header-drop-down{
    background: rgba(166, 12, 16, 0.8);
    border: 1px solid #a60c10;
}
.header-drop-down li{
    background-color: transparent;
}
.header-drop-down li a{
    color: #fff;
}
.header-drop-down .dropdown-menu>li>a:focus,.header-drop-down .dropdown-menu>li>a:hover {
    color: #c91318;
    text-decoration: none;
    background-color: #f5f5f5;
}
.grey-header .header-drop-down{
    background: rgba(44, 41, 39, 0.8);
    border: 1px solid rgba(80,76,73,1);
}
.grey-header  .header-drop-down .dropdown-menu>li>a:focus, .grey-header .dropdown-menu>li>a:hover{
    color: rgba(80,76,73,1);
    text-decoration: none;
    background-color: #f5f5f5;
}
.business-Av .header-drop-down{
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.business-Av  .header-drop-down .dropdown-menu>li>a:focus, .business-Av .dropdown-menu>li>a:hover{
    color: #127EAF;
    text-decoration: none;
    background-color: #f5f5f5;
}
/* drop down menu end */
.block_news{
    height: 320px;
    overflow: hidden;
}
.block_resent{
    height: 212px;
    overflow: hidden;
}
.block_customer{
    height: 310px;
    overflow: hidden;
}
.blue-footer .dropmenuBG {
      border: 1px solid #0B597D !important;
}
.vdb_info{
    width: 100%;
    text-align: center;
}
.vdf_info span{
    cursor: pointer;
}
