.downloadBtn-sm, .downloadBtn-sm:hover, .downloadBtn-sm:active, .downloadBtn-sm:focus{
    padding: 9px 45px 9px 45px;
    margin-bottom: 10px;
}
.btn-text{
    margin-top: 9px;
    margin-bottom: 10px;
}
.margin_bottom_25{
    margin-bottom: 25px;
}
.button-box{
    position: relative;
    top: 10px;
}
.column_count{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.div-text {
    margin-top: 0;
    margin-bottom: 20px;
}
.red-title-sm {
    width: 100%;
}

@media only screen and (max-width: 768px){
    .download-box {
        height: 140px;
        width: 100%;
        padding: 20px 0 0 0;
    }
}